$sand: #f0e7e7;
$red-orange: #c1440e;
$header-font: 'Montserrat', sans-serif;
$text-font: 'Lora', serif;

html {
  box-sizing: border-box;
  background-color: $sand;
  font-family: $text-font;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  margin: 50px 0;
  font-family: $header-font;
}

input {
  padding: 7px 16px;
  font-size: 1rem;
  margin: 0 1rem;
}

.btn {
  width: auto;
  padding: 10px 16px;
  background-color: #fff;
  &:hover {
    background-color: #451804;
    color: #fff;
  }
}

.new-item-container {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  .add-item {
    margin-left: 10px;
  }
}

.items-container {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
  .item {
    padding: 20px;
    border: 1px solid;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    background-color: $red-orange;
    color: #fff;
    .item-left {
      width: 75%;
    }
    .item-right {
      width: 25%;
    }
  }
}